{
    "presets": [
        "react",
        "es2015",
        "stage-1"
    ],
    "sourceMaps": true,
    "env": {
        "production": {
            "plugins": ["transform-react-remove-prop-types"]
        }
    }
}
